@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  width: 100%;
  background-color: #F2F2F2;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: white;
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.page-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  width: 1200px;
  justify-content: flex-start;
  gap: 30px;
}

.header-logo {
  width: 140px;
  height: 70px;
  margin-left: 70px;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 892px;
  min-height: 64px;
  overflow: hidden;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  position: relative;
  overflow: hidden;
}

.navigation-link {
  width: 114px;
  text-align: center;
  padding-bottom: 21px;
  overflow: hidden;
}

.navigation-link:hover {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 2px solid #756257;
}

.navigation-link:focus {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 2px solid #756257;
}

.navigation-link:first-child {
  width: 100px;
  text-align: center;
}

.navigation-link:last-child {
  width: 123px;
  text-align: center;
}

.user-menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 285px;
  justify-content: flex-start;
  position: relative;
  width: 268px;
  min-height: 64px;
  overflow: hidden;
}

.user-menu-icon {
  width: 44px;
  min-height: 64px;
  margin: 0;
}

.user-menu-icon-search {
  min-height: 20px;
}

.user-menu-icon-heart {
  min-height: 20px;
}

.circle {
  background: #7DB54F;
  border-radius: 10px;
  min-height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  left: 64px;
}

.user-menu-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  position: absolute;
  top: 5px;
  left: 5px;
}

.user-menu+li {
  margin-left: 20px;
}

.button-header {
  width: 160px;
  min-height: 36px;
  background: #756157;
  border-radius: 4px;
  background-position: 50% 50%;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 8px 34px;
  margin: 14px 0 14px 20px;
  overflow: hidden;
}

.main-index {
  flex-grow: 1;
}

.background-image {
  width: 1200px;
  background-image: url("../images/main-img.jpg");
  background-size: 1200px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 64px;
}

.welcom-sedona {
  background-image: url("../images/welcom-sedona.svg");
  width: 458px;
  min-height: 352px;
  background-repeat: no-repeat;
  margin: 32px auto 101px;
}

.hero {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.hero-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 25px;
}

.hero-text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  justify-content: center;
}

.advantages-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, 384px);
  justify-items: start;
}

.advantages-item-one {
  display: flex;
  margin: 0;
  grid-row: 1/2;
}

.advantages-item-column-one {
  background: #82B3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  position: relative;
  overflow: hidden;
}

.advantages-item-column-one::before {
  width: 60px;
  min-height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  content: "";
  bottom: 204px;
  overflow: hidden;
}

.advantages-title-white {
  margin: 92px auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-description-white {
  margin: 30px auto 111px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-city {
  width: 800px;
  min-height: 384px;
  grid-column: 2/4;
  grid-row: 1/2;
}

.advantages-item-two {
  display: flex;
  margin: 0;
  grid-row: 2/3;
}


.advantages-item-column-two {
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  position: relative;
  overflow: hidden;
}

.advantages-item-column-two::before {
  width: 60px;
  min-height: 2px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  content: "";
  bottom: 192px;
  overflow: hidden;
}

.advantages-item-column-three {
  background: rgba(131, 179, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  position: relative;
  overflow: hidden;
}

.advantages-item-column-three::before {
  width: 60px;
  min-height: 2px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  content: "";
  bottom: 192px;
  overflow: hidden;
}

.advantages-title-black {
  margin: 103px auto 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 32px auto 0;
}

.advantages-item-three {
  display: flex;
  margin: 0;
  grid-row: 3/4;
}

.photo-two {
  width: 800px;
  min-height: 384px;
}

.advantages-item-four {
  display: flex;
  margin: 0;
  grid-row: 4/5;
}

.frame-one {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
}

.frame-two {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
}

.home-image {
  background-image: url("../images/advantages-home.svg");
  width: 75px;
  min-height: 72px;
  margin: 80px auto 0;
  background-position: center;
  background-repeat: no-repeat;
}

.frame-title-black {
  margin: 30px auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.frame-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.eat-image {
  background-image: url("../images/advantages-eat.svg");
  width: 75px;
  min-height: 72px;
  margin: 80px auto 0;
  background-position: center;
  background-repeat: no-repeat;
}

.souvenirs-image {
  background-image: url("../images/advantages-souvenirs.svg");
  width: 75px;
  min-height: 72px;
  margin: 80px auto 0;
  background-position: center;
  background-repeat: no-repeat;
}

.hotel {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.hotel-description {
  margin: 0 auto 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  min-height: 52px;
  overflow: hidden;
}

.hotel-button {
  width: 376px;
  min-height: 52px;
  background: #756157;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #FFFFFF;
}

.link-button {
  color: #FFFFFF;
}

.subscribe {
  width: 1200px;
  min-height: 414.86px;
  background-image: url("../images/subscribe-img.jpg");
  background-size: 1200px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-image {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto 20px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 54px;
  overflow: hidden;
  width: 475px;
  min-height: 52.51px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.field {
  width: 432px;
  min-height: 52px;
  border: 0;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.button-subscribe {
  width: 232px;
  min-height: 52px;
  border: 0;
  margin: 0;
  padding: 0;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
}

.page-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  min-height: 120px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  min-height: 50px;
  margin: 40px auto 30px;
}

.footer-social {
  width: 142px;
  min-height: 40px
}

.footer-social-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 47.33px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.footer-social-item:hover {
  opacity: 1;
}

.footer-social-item:focus {
  opacity: 1;
}

.footer-social-item:disabled {
  opacity: 0.5;
}

.footer-social-item:disabled:hover {
  opacity: 0.5;
  outline: none;
  cursor: default;
}

.footer-contacts {
  width: 331px;
  min-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:disabled {
  color: #7561574D;
  opacity: 0.3;
}

.footer-contacts-phone:disabled:hover {
  color: #7561574D;
  opacity: 0.3;
  outline: none;
  cursor: default;
}

.footer-logo {
  width: 115px;
  min-height: 33px;
}

.logo-htmlacademy {
  width: 115px;
  min-height: 33px
}
