@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  width: 100%;
  background-color: #F2F2F2;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*,
*::before,
*::after {
  padding: 0;
  list-style-type: none;
  color: #000000;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  width: 1200px;
  justify-content: flex-start;
  gap: 30px;
}

.header-logo {
  margin-left: 70px;
  position: absolute;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 892px;
  overflow: hidden;
  position: absolute;
  left: 238px;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.navigation-link {
  width: 114px;
  overflow: hidden;
  min-height: 64px;
  border-bottom: 2px solid transparent;
}

.navi-link {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navi-link:focus {
  outline: none;
}

.navigation-link:hover {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 2px solid #756257;
}

.navigation-link:active {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 2px solid #756257;
}

.navigation-link:focus {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 2px solid #756257;
  outline: none;
}

.navigation-link:disabled {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 2px solid #756257;
}

.navigation-link:first-child {
  width: 100px;
  text-align: center;
}

.navigation-link:last-child {
  width: 123px;
  text-align: center;
}

.user-menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 285px;
  justify-content: flex-start;
  position: relative;
  width: 270px;
  min-height: 64px;
  overflow: hidden;
  flex-wrap: wrap;
}

.user-menu-icon {
  width: 44px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  min-height: 64px;
}

.user-menu-icon-link:focus {
  outline: none;
}

.circle {
  background-color: #7DB54F;
  border-radius: 10px;
  min-height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 11px;
  left: 66px;
}

.user-menu-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  position: absolute;
  top: 5px;
  left: 5px;
}

.user-menu+li {
  margin-left: 20px;
}

.button-header {
  width: 160px;
  min-height: 36px;
  background: 50% 50% rgb(117, 97, 87);
  border-radius: 4px;
  overflow: hidden;
  margin-left: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-header-text {
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.button-header:hover {
  background-color: #615048;
}

.button-header-text:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-header:focus {
  background-color: #615048;
  outline: none;
}

.button-header:disabled {
  background-color: #E5E5E5;
}

.main-index {
  flex-grow: 1;
}

.background-image {
  width: 1200px;
  min-height: 485px;
  background-color: #465A61;
  background-image: url("../images/main-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 64px;
}

.main-img-bottom {
  background-color: transparent;
  background-image: url("../images/main-img-bottom.svg");
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 57px;
  position: absolute;
  top: 493px;
  z-index: 1;
}

.welcom-sedona {
  background-color: transparent;
  background-image: url("../images/welcom-sedona.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 55px 371px 44px;
  width: 458px;
  min-height: 352px;

}

.hero {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 25px;
}

.hero-text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  justify-content: center;
}

.advantages-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-items: start;
}

.advantages-item-column {
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  position: relative;
  overflow: auto;
  margin: 0;
}

.advantages-item-column::before {
  width: 60px;
  min-height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  content: "";
  bottom: 192px;
}

.advantages-item-column:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-column:first-child:last-child::before {
  width: 60px;
  min-height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  content: "";
  bottom: 192px;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 400px;
  min-height: 384px;
  grid-column: 1/-1;
}

.advantages-item-column-one {
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  position: relative;
  overflow: auto;
  grid-column: 1/-1;
}

.advantages-item-column-one::before {
  width: 60px;
  min-height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  content: "";
  bottom: 204px;
}

.advantages-title-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 92px;
  padding-bottom: 30px;
  margin: 0;
}

.advantages-description-white {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 81px;
  overflow: auto;
  margin-top: 0;
}

.advantages-city {
  grid-column: 2/4;
}

.advantages-item-two {
  display: flex;
  margin: 0;
  grid-column: 1/-1;
}

.advantages-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 103px;
  padding-bottom: 30px;
  margin: 0;
}

.advantages-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  overflow: auto;
  padding-top: 32px;
  padding-bottom: 81px;
  margin-top: 0;
}

.advantages-item-column-two {
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 384px;
  position: relative;
  overflow: auto;
  grid-column: 3/4;
}

.advantages-item-column-two::before {
  width: 60px;
  min-height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  content: "";
  bottom: 204px;
}

.advantages-item-three {
  display: flex;
  margin: 0;
  grid-column: 1/-1;
}

.advantages-item-four {
  display: flex;
  margin: 0;
  grid-column: 1/-1;
}

.frame-one {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  background-image: url("../images/advantages-home.svg");
  background-position: top 80px center;
  background-repeat: no-repeat;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.frame-two {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  background-image: url("../images/advantages-eat.svg");
  background-position: top 80px center;
  background-repeat: no-repeat;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.frame-three {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  background-image: url("../images/advantages-souvenirs.svg");
  background-position: top 80px center;
  background-repeat: no-repeat;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.frame-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-top: 182px;
  padding-bottom: 15px;
  margin: 0;
  overflow: auto;

}

.frame-description-black {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  overflow: auto;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hotel {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
  overflow: auto;
  flex-wrap: wrap;
}

.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.hotel-description {
  margin: 0 auto 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  min-height: 52px;
  padding-top: 20px;
}

.hotel-button {
  width: 376px;
  min-height: 52px;
  background-color: #756157;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #FFFFFF;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.hotel-button:hover {
  background-color: #615048;
}

.hotel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button:focus {
  background-color: #615048;
  outline: none;
}

.hotel-button:disabled {
  background-color: #E5E5E5;
}

.subscribe {
  width: 1200px;
  min-height: 414.86px;
  background-color: #3C6279;
  background-image: url("../images/subscribe-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 684px;
  min-height: 214.86px;
  overflow: auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding-top: 96px;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-top: 20px;
  width: 475px;
  min-height: 52.51px;
  overflow: auto;
}

.newsletter-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 54px;
  padding-bottom: 104px;
}

.field {
  width: 432px;
  min-height: 52px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.field:focus {
  outline: none;
}

.button-subscribe {
  width: 232px;
  min-height: 52px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-subscribe:disabled {
  background-color: #E5E5E5;
}

.button-subscribe-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  min-height: 50px;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 47.33px;
}

.footer-social-item-link {
  display: flex;
  padding: 13px 11.67px;
}

.footer-social-item-link:hover {
  fill: #68A2CA;
}

.footer-social-item-link:active {
  fill: #68A2CA;
}

.footer-social-item-link:focus {
  fill: #68A2CA;
  outline: none;
}

.footer-social-item-link:disabled {
  fill: #68A2CA;
  opacity: 30%;
}

.footer-contacts {
  width: 333px;
  min-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: #7561574D;
  opacity: 0.3;
}

.footer-logo {
  width: 115px;
  min-height: 33px;
  display: flex;
}

.footer-logo-link:hover {
  fill: #000000;
}

.footer-logo-link:active {
  fill: #756157;
}

.footer-logo-link:focus {
  fill: #756157;
  outline: none;
}

.footer-logo-link:disabled {
  fill: #756157;
  opacity: 30%;
}
